/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
:root{
    --color-blue:#3366ff;
    --color-white: white;
    --color-card:#99ccff;
    --color-bluviolet:#9593E6;
}
/* 
    GENERAL
*/

.contenitore{
    max-width: 1000px;
    margin: 0 auto;

}
.contenitore2{
    margin: 0 auto;
    max-width: 1000px;
}

header{
    background-color: var(--color-blue);
}

/* 
    HEADER
*/

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.logo-img{
    width: 100%;
}
nav{
    display: none;
}
.header-container li {
    margin: 0 10px;
}

ul * {
    text-decoration: none;
    display: inline-block;
    color: var(--color-white);
}

.button{
    color: black;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 25px;
}

.mobile-tablet{
    display: block;
}

.burgher{
    color: var(--color-white);
}

/* 
    MAIN
*/

/* 
    PRIMA SECTION
*/
.my-big-col ,
.my-col {
    background-color: var(--color-card);
    margin: 20px;
    border-radius: 20px;
}
.first .my-row .text-sec1,
.first .my-row .text-sec1 > *{
    padding: 10px;
}
.my-row h2{
    color: var(--color-blue);
}
.my-row p{
    margin-bottom: 20px;
}
.my-row a {
    text-decoration: none;
    color: var(--color-white);
    padding: 10px 25px;
    background-color: var(--color-blue);
    border-radius: 20px;
    margin: 10px;
}

.my-big-col > .img {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.my-row .my-big-col img{
    width: 100%;
    padding: 0;
    margin:0;
}
.icon{
    text-align: center;
    color: var(--color-blue);
    font-size: 80px;
}
.text{
    text-align: center;
    margin: 20px 0;
    padding: 0 15px;
}
.text p{
    padding-bottom: 40px;
    margin-top: 20px;
}
/* 
    SECONDA SECTION
*/
.purple{
    background-color: #9593E6;
    margin-top: 20px;
}
.purple .my-col{
    background-color: #9593E6;
    padding: 0 20px;
}
.purple .text{
    padding-top: 50px;
    text-align: left;
}

.card {
    background-color: var(--color-white);
    /* margin: 20px;
    border-radius: 20px; */
}
.my-col2{
    display: flex;
    align-items: flex-end;
}

.my-col2 img{
    width: 100%;
}
.purple img  {
    width: 100%;
}

.purple h2,
.purple p {
    color: var(--color-white);
    margin: 40px 0;
}
.my-col2{
    padding: 40px;
    border-radius: 20px;
}
.my-col2 p,
.my-col2 h2 {
    color: black;
    text-align: center;
}
.my-col2 a {
    color: black;
    background-color: #9593e6;
    display: inline-block;
    margin-bottom: 20px;
}
.card{
    border-radius: 40px;
    margin-bottom: 40px;
}
.flex{
    display: flex;
    justify-content: center;
}
.flex a{
    border-radius: 100%;
    padding: 20px 30px;
}

/* 
    TERZA SECTION
*/

.sect3{
    text-align: center;
}
.sect3 *{
    margin-top: 40px;
}
.sect3 h2{
    color: var(--color-bluviolet);
}
.my-col3{
    margin-top: 30px;
    background-color: var(--color-bluviolet);
}

.img-border img{
    width: 50%;
    border-radius: 50%;
}

.img-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;

}
.img-cropper img{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .sect3 .my-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .sect3 .my-col3{
    width: 80%;
    border-radius: 25px;
 }
 .sect3 .my-col3 p{
    color: var(--color-white);
    padding-bottom: 20px;
    font-weight: bold;
 }
 /* 
    QUARTA SECTION
*/
.sect4 .purple{
    padding: 25px ;
}
.text-sect4{
    padding-right: 20px;
    padding-left: 20px;
}
.sect4 .text-sect4 > h2{
    color: var(--color-white);
    text-align: center;
}
.card{
    margin: 0 40px;
    padding: 10px 40px;
}
.card > h2,
.card > h3{
    color: var(--color-bluviolet);
    text-align: left;
}

.card h2{
    font-size: 3em; 
}
.card h3{
    font-size: 1.75em; 
}
.card p{
    color: black;
}
.sect4 a{
    background-color: var(--color-bluviolet);
    color: var(--color-white);
    display: inline-block;
    margin-left: auto;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 20px;
    
}
/* QUINTA SECTION */

.end{
    margin-left: 0;
}
.sect5 .my-col4 h2{
    color: var(--color-bluviolet);
    font-size: 2em;
    text-align: left;
}
.sect5 .my-col4 p{
    text-align: left;
    margin-top: 25px;
}
.pur{
    color: var(--color-bluviolet);
    font-weight: 900;
    font-size: larger;
}
.sect5 a{
    background-color: var(--color-bluviolet);
}

/* 
    SECTION 6
*/
.sect6 *{
    text-align: center;
}
.sect6 .purple {
    padding: 0 40px;
}
h4{
    color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}
.sect6 h3{
    color: var(--color-white);
}
.sect6 h2{
    color: orange;
    font-size: 3em;
}
.sect6 p{
    padding: 20px 0;
}
.sect6 a{
    background-color: var(--color-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
}


/* 
    RESPONSIVE
*/
/* 
    BREAK-POINT TABLET
*/
@media screen and (min-width:768px){
    /* SECTION1 */
    .my-row{
        display: flex;
        flex-wrap: wrap;
    }
    .my-big-col{
        width: 60%;
    }
    .my-col{
        width: calc(30% - 20px);
    }
    /* SECTION 2 */
    .purple .my-col {
        width: 100%;
    }
    /* SECTION 3 */
    .sect3 .my-col3{
        display: flex;  
        text-align: left;
        align-items: center; 
    }
    .sect3 .img-cropper{
        margin:50px;
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    
    }
    .sect3 .my-col3 p{
        margin-left: 50px;
     }
     /* SECTION 4 */
     .sect4 .my-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
     }
     .sect4 .my-col3{
        width: calc(50% - 20px);
     }
     /* SECTION 5 */
     .sect5 .my-row{
        display: flex;
     }

}
/* 
    BREAK-POINT PC
*/
@media screen and (min-width:992px){

    /* HEADER */
    
    nav{

        display: block;

    }
    .mobile-tablet{
        display: none;
    }
    /* PRIMA SECTION */
    .my-row{
        display: flex;
        flex-wrap: wrap;
    }
    .my-big-col{
        width: 60%;
        display: flex;
    }
    .my-col{
        width: calc(30% - 20px);
    }
    /* SECONDA SECTION */
    .purple .my-row {
        display: flex;
        justify-content: center;      
    }
    .purple .my-col {
        padding-top: 90px;
        width: 40%;
    }
    .purple .my-col2 {
        width: 50%;
        
    }
    /* TERZA SECTION */
    .sect4 .my-col3{
        width: calc((100% / 3) - 20px);
     }
}
